In [1]:
#Type تحديد النوع
a=10
b=10.23
c="Ten"
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

# strings

In [2]:
string1="python videon"
srting2="welcome to my world"
print (string1[0])
print (string1[7:12])
#python
#012345

p
video

In [3]:
word="ABC"
count=40
#print (the word appear count number od items)
print("the word %s appear %i number of items"%(word,count))

the word ABC appear 40 number of items

In [4]:
print ("Enter your age:")
age=input()
print("your age is:",age)

Enter your age:
40
your age is: 40

In [5]:
str1="findme"
str1.find("me")

4

In [6]:
str1.find("apple")

-1

In [7]:
str2="replaced"
str2.replace("ed","e")

'replace'

In [8]:
str3="word1,worde2,word3"
str3.split(',')

['word1', 'worde2', 'word3']

In [9]:
str4="see"
str4.count("e")

2

In [10]:
str5=str4.upper()
print(str5)

SEE

In [11]:
str5.count("E")

2

In [12]:
max(str5)

'S'

In [13]:
str6="see%#-"
min(str6)

'#'

# Tuples

In [14]:
myGroup=('a','b','c','d')

In [15]:
myGroup+=('e',)
print(myGroup)

('a', 'b', 'c', 'd', 'e')

In [16]:
myGroup*2

('a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e')

In [17]:
myGroup[3]

'd'

In [18]:
myGroup[1:]

('b', 'c', 'd', 'e')

In [19]:
myGroup[:3]

('a', 'b', 'c')

# lists

In [21]:
myList=[1,3.14,"python",'a']

In [22]:
myList+=['extra',]

In [23]:
print(myList)

[1, 3.14, 'python', 'a', 'extra']

In [24]:
myList*2

[1, 3.14, 'python', 'a', 'extra', 1, 3.14, 'python', 'a', 'extra']

In [25]:
myList[:4]

[1, 3.14, 'python', 'a']

In [26]:
myList[-1]

'extra'

In [27]:
myList[2:]

['python', 'a', 'extra']

In [28]:
myList.append('c')

In [29]:
print(myList)

[1, 3.14, 'python', 'a', 'extra', 'c']

In [30]:
myList.extend(['b','e'])
print(myList)

[1, 3.14, 'python', 'a', 'extra', 'c', 'b', 'e']

In [31]:
myList.insert(2,'d')
print(myList)

[1, 3.14, 'd', 'python', 'a', 'extra', 'c', 'b', 'e']

# Dictionaries

In [32]:
myDic={1:"apple",2:"banana"} #dictionary with integer key value

In [34]:
myDic={"name":"john",1:[2,3,4]} #dict with mixed key value pairs

In [35]:
myDict={1:"word1",2:"word2"}

In [36]:
myDict[2]

'word2'

In [37]:
len(myDict)

2

In [38]:
myDict.keys()

dict_keys([1, 2])

In [39]:
myDict.values()

dict_values(['word1', 'word2'])

In [40]:
myDict.update({3:"word3"})

In [41]:
print(myDict)

{1: 'word1', 2: 'word2', 3: 'word3'}

# SETS

In [42]:
mySet={1,2,3}
print(mySet)

{1, 2, 3}

In [43]:
mySet2={3,4,5}

In [44]:
#uninon
mySet|mySet2

{1, 2, 3, 4, 5}

In [45]:
#intersection
mySet&mySet2

{3}

In [46]:
#difference
mySet-mySet2

{1, 2}