In [3]:
name="John"
name2="Jonathan"
print(name+" "+name2)

John Jonathan

In [4]:
multiline=''' first line
second line
third line'''
print(multiline)

 first line
second line
third line

In [5]:
#Arithmetic Operators.
1+2

3

In [6]:
2-3

-1

In [7]:
4/2

2.0

In [8]:
2%1

0

In [10]:
#Assignment Operators.
a=10
a+=10 #a=10+10
print(a)

20

In [11]:
a-=10 #a=20-10
print(a)

10

In [12]:
#Comparison Operators
11>10

True

In [13]:
11>12

False

In [14]:
11!=10

True

In [15]:
#Logical Operators
a=7>6 and 2>1
print(a)

True

In [16]:
a=7>8 and 2>1
print(a)

False

In [17]:
a=7>6 or 2>1
print(a)

True

In [18]:
a=7>8 or 2>1
print(a)

True

In [19]:
a=7>8 or 2>3
print(a)

False

In [20]:
a=not 7>8
print(a)

True

In [21]:
#Bitwise Operators
7|5

7

In [22]:
7&5

5

In [23]:
10>>2

2

In [24]:
10<<2

40